.hide { display: none !important; }

#splash .content { text-align: center; 	margin-top: 20%; }
#splash img { width: 60%; }
#splash {
	transition: opacity 2s;
	-webkit-transition: opacity 2s;
	opacity: 1;
}
#splash.fadeout {
	opacity: 0;
}

.marker {
	background: #fff url(redtriangle.png) no-repeat top left;
	border-radius: 0 6px 6px 6px;
	padding: 4px;
}

.table-view-cell a { cursor: pointer; }

.table-view-cell > a:not(.btn) {
	padding-right: 6em;
}
